@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url(/imagenes/img-noise-361x370.png);
}

.preloader-wrap {
  display: none;
  background-image: url(/imagenes/img-noise-361x370.png);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding-top: 100px;
}

.percentage {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}

.loader,
.percentage {
  height: 2px;
  max-width: 500px;
  border-radius: 20px;
  font-weight: 300;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  letter-spacing: 1px;
  text-align: center;
}

.loader .logo,
.percentage .logo {
  margin-top: -240px;
}

.loader .text,
.percentage .text {
  color: #302B21;
  font-weight: 600;
  margin-top: 100px;
  font-style: italic;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: #ffcb22;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: animation 5s infinite;
          animation: animation 5s infinite;
  margin: -5px;
}

.glow {
  width: 0%;
  height: 0%;
  border-radius: 20px;
  position: absolute;
  bottom: -5px;
  -webkit-animation: animation 5s infinite;
          animation: animation 5s infinite;
}

@-webkit-keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.wrap .logo_2 {
  margin-top: 35vh;
  margin-bottom: 35vh;
}

.wrap .logo_2 img {
  max-width: 50%;
}

.wrap .botones {
  z-index: 200;
  position: absolute;
  bottom: 2vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
}

.wrap .botones a {
  text-decoration: none !important;
}

.wrap .botones a div {
  text-decoration: none;
  color: #c4c4c4;
  border: solid 2px transparent;
  background: none;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 15px;
  -webkit-transition: all .6s;
  transition: all .6s;
  margin: auto 15px;
  font-style: italic;
  cursor: pointer;
  z-index: 100;
}

.wrap .botones a:hover div {
  border-bottom: solid 2px #ffcb22;
  color: #302B21;
  font-weight: 600;
}

.botones_hist {
  position: absolute;
  bottom: 2vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
}

.botones_hist a {
  text-decoration: none !important;
}

.botones_hist a div {
  text-decoration: none;
  color: #c4c4c4;
  border: solid 2px transparent;
  background: none;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 15px;
  -webkit-transition: all .6s;
  transition: all .6s;
  margin: auto 15px;
  font-style: italic;
  cursor: pointer;
  z-index: 100;
}

.botones_hist a:hover div {
  border-bottom: solid 2px #ffcb22;
  color: #302B21;
  font-weight: 600;
}

#historia #texto {
  position: absolute;
  width: 70vw;
  text-align: justify;
  margin: 0 15vw;
  top: 20vh;
  opacity: 1;
}

#historia #texto h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #302B21;
}
/*# sourceMappingURL=style.css.map */